
    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Na ao anaty haizimpito, na aretina mamirifiry, na fahorina sesilany dia ny vavaka manova zavatra.
                    </p>
                    <h3>VAVAKA MANOVA ZAVATRA</h3>
                    <h4>Album vol 1</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Fa katsaho aloha ny fanjakany lanitra dia homeny anao ny ho fanampiny sy ireo soa afafiny.
                    </p>
                    <h3>KATSAHO</h3>
                    <h4>Album vol 2</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Jesosy ilay tokana tsy mba mandao anao aminy sarotra, ka atolory eo ampelatanany ny fiananao re rahavako,
                        manantona fa Izy no tompon'ny fiainanao.
                    </p>
                    <h3>JESOSY TSY MANDAO</h3>
                    <h4>Album vol 2</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Tsy takatrin'ny sainay ny halebiazanao ry Ray, fa ny hany fantatray dia izao : tsara loatra Ianao.
                    </p>
                    <h3>TSARA LOATRA</h3>
                    <h4>Album vol 1</h4>
                </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
                <div class="testimonial-item">
                    <p>
                        Matokia fa tsy irery ianao, fa Izy anie hialoha ny lalanao.
                    </p>
                    <h3>MITSANGANA MANDEHANA</h3>
                    <h4>Album vol 2</h4>
                </div>
            </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
    </div>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/js/slide.js"></script>