
<section id="contact" class="contact section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm mt-5 mt-lg-0">
                <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Localisation :</h4>
                        <p>EMIT Andrainjato,<br>Fianarantsoa 301</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>emitmikalo@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Télephone :</h4>
                        <p>034 18 924 33</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-sm mt-5 mt-lg-0" data-aos="fade-left">
                <div class="footer-top">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <a href="#header" class="scrollto footer-logo"><img src="img/emifi.png"
                                        alt=""></a>
                                <h3></h3>
                                <p>Vous pouvez aussi nous suivre sur :</p>
                            </div>
                        </div>
                    
                        <div class="social-links">
                            <a href="mailto:emitmikalo@gmail.com" class="mail"><i class="fas fa-envelope"></i></a>
                            <a href="https://web.facebook.com/Emit-Mikalo-Fiderana-EMIFI-433852280524315/?ref=pages_you_manage" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.youtube.com/channel/UCOZy1f8S6vqVmzc_SmqRVgA" class="youtube"><i class="bx bxl-youtube"></i></a>
                        </div>
                    
                    </div>
                
                </div>
            </div>

        </div>

    </div>
</section>

<div class="container footer-bottom clearfix">
    <div class="copyright">
        &copy; Copyright <strong><span>EMIFI</span></strong> Tous les droits sont réservés
    </div>
    <div class="credits">
        Conçu par <a href="#">Fenosoa Erica</a>
    </div>
</div>