
<div class="section-title" data-aos="fade-up">
    <h2>Qui sommes nous ?</h2>
</div>

<div class="row">
    <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-right">
        <div class="image">
            <img src="assets/img/bg.webp" class="img-fluid" alt="">
        </div>
    </div>
    <div class="col-lg-6" data-aos="fade-left">
        <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <p class="fst-italic">
                Nous sommes une chorale constituée de plusieurs étudiants de l'EMIT 
                (Ecole de Management et d'Innovation Technologique) de l'Université de Fianarantsoa.
            </p>
            <ul>Petite historique :
                <li><i class="bx bx-check-double"></i> 
                    Crée le 19 juin 2018 par Dr HDR HAJALALAINA Aimé Richard et Dr RAKOTONIRAINY Hasina
                    </li>
                <li><i class="bx bx-check-double"></i> 
                    Première apparition le 23 juin 2018 durant le Festival Harendrina 2018 de l'Université de Fianarantsoa
                </li>
                <li><i class="bx bx-check-double"></i>
                    Début sur scène le 26 septembre 2018 au KSLMD Fianarantsoa
                </li>
            </ul>
            <p>
                La création de l'EMIFI vise à améliorer l'éducation des jeunes pendant sa période universitaire.
                Non seulement un groupe évangélique, mais c'est aussi un moyen pour les étudiants d'exprimer leurs talents tout en exerçant leurs études. 
            </p>
        </div>
    </div>
</div>