<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-lg-8 d-flex justify-content-center align-items-center" data-aos="fade-right">
            <div class="tab-content">
                <div class="tab-pane active show" id="tab-1" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/1.webp" alt="" class="img-fluid">
                        <a href="assets/img/1.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
                <div class="tab-pane" id="tab-2" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/2.webp" alt="" class="img-fluid">
                        <a href="assets/img/2.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
                <div class="tab-pane" id="tab-3" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/3.webp" alt="" class="img-fluid">
                        <a href="assets/img/3.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
                <div class="tab-pane" id="tab-4" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/4.webp" alt="" class="img-fluid">
                        <a href="assets/img/4.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
                <div class="tab-pane" id="tab-5" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/5.webp" alt="" class="img-fluid">
                        <a href="assets/img/5.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
                <div class="tab-pane" id="tab-6" style="box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)">
                    <figure>
                        <img src="assets/img/6.webp" alt="" class="img-fluid">
                        <a href="assets/img/6.webp" data-gallery="portfolioGallery" class="portfolio-lightbox"
                            id="eye-gallery">
                            <i class="far fa-eye fa-lg"></i>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-left">
            <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                        <h4>Premier membre EMIFI, 2018</h4>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                        <h4>Live KSLMD 2018</h4>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                        <h4>Anniversaire EMIFI, 2019</h4>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                        <h4>Live "TSARA LOATRA", 2019</h4>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-5">
                        <h4>Tournage album "MATSIARO SAMBATRA"</h4>
                    </a>
                </li>
                <li class="nav-item mt-2">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-6">
                        <h4>Tournage album "HIARA HIDERA"</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-right">
            <iframe id="video-fram"
                src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2F433852280524315%2Fvideos%2F200838145517387%2F&show_text=false&width=560&t=0"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen>
            </iframe>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-left">
            <iframe id="video-fram"
                src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2F433852280524315%2Fvideos%2F4393850633967899%2F&show_text=false&width=560&t=0"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen>
            </iframe>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-right">
            <iframe id="video-fram"
                src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2F433852280524315%2Fvideos%2F5247943851924552%2F&show_text=false&width=560&t=0"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen>
            </iframe>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-left">
            <iframe id="video-fram" src="https://www.youtube.com/embed/8dRmrg7_Go4" title="EMIFI - MAHATSIARO SAMBATRA"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-right">
            <iframe id="video-fram" src="https://www.youtube.com/embed/g4FMJA93Ack" title="EMIFI - ZAGNAHARY"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center" data-aos="fade-left">
            <iframe id="video-fram" src="https://www.youtube.com/embed/LENhmPSvgLo"
                title="IFONAKO - EMIFI(Emit Mikalo Fiderana)"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>

</div>
<script>
    /**
 * Initiate portfolio lightbox 
 */
    const portfolioLightbox = GLightbox({
        selector: '.portfolio-lightbox'
    });

    /**
     * Portfolio details slider
     */
    new Swiper('.portfolio-details-slider', {
        speed: 400,
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true
        }
    });
</script>